@model StudentNav.Models.FileUploadsViewModel

@{
    ViewBag.Title = "FileUpload";
}

<h2>File Uploads</h2>


@using (Html.BeginForm("FileUploads", "Manage", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ArticlePicFiles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 forml">
                @Html.ListBoxFor(model => model.ArticlePicFiles,new SelectList(Model.ArticlePicFiles), new { @onChange = "onSelectObj()"})
               @Html.ValidationMessageFor(model => model.ArticlePicFiles, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="imageupload" id="imgupload">
            <img src="/" id="imsrc" width="500" />
        </div>
        <div class="videoupload" id="vidsrc">
            
        </div>
        
        <br />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.AdPics, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 forml">
                @Html.ListBoxFor(model => model.AdPics, new SelectList(Model.AdPics), new { @onChange = "onSelectObjAd()" })
                @Html.ValidationMessageFor(model => model.AdPics, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <img src="/" id="arsrc" width="500" />
        <br />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.ArticleOrAds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 forml">
                @Html.Label("Article")
                @Html.RadioButtonFor(model => model.ArticleOrAds, "Article",new { htmlAttributes = new { @class = "form-control", @onselected = "onDeSelectAdOption()" } })
                @Html.Label("Ads")
                @Html.RadioButtonFor(model => model.ArticleOrAds, "Ads", new { htmlAttributes = new { @class = "form-control" ,@onselected = "onSelectAdOption()" } })

                @Html.ValidationMessageFor(model => model.ArticleOrAds, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">
            <div id="panel1" class="col-md-10" style="float:right" >

            <select  name="adsthing" >
                    @for (int i = 1; i < 23; i++)
                    {
                        <option value="@(i)">@("ads" + i)</option>
                    }                    
                
            </select><p>At which Ad-Pic to start replacing</p>

                </div>
        </div>



            <div class="form-group">
                @Html.LabelFor(model => model.uploads, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" multiple="multiple" id="uploads" name="uploads" required accept="images/*" />
                    @Html.ValidationMessageFor(model => model.uploads, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn paper-raise" />
                </div>
            </div>
        </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<script lang="javascript/text">
    function onSelectObj() {
        var img = document.getElementById("imsrc");
        var list = document.getElementById("ArticlePicFiles");
        var leimage = list.options[list.selectedIndex].value;
        var filename = leimage;
        if (filename.indexOf('.mp4') > -1 || filename.indexOf('.MP4') > -1 || filename.indexOf('.mkv') > -1) {
            var vid = document.getElementById("vidsrc");
            var firstbit = "<video width='500' controls>";
            var secondbit = "<source src='" + filename + "' type='video/mp4' ></source>"
            var lastbit = "</video>";
            vid.innerHTML = firstbit + secondbit + lastbit;
            var imga = document.getElementById("imgupload");
            imga.setAttribute("class", "disappear");
        }
        else {
            if (img !== null || img !== undefined) {
                var imga = document.getElementById("imgupload");
                imga.setAttribute("class", "imageupload");
                img.setAttribute("src", filename);
                var vid = document.getElementById("vidsrc");
                vid.innerHTML = "";
            }
        }
    }

    function onSelectObjAd() {
        var img = document.getElementById("arsrc");
        var list = document.getElementById("AdPics");
        var leimage = list.options[list.selectedIndex].value;
        var filename = "/Images/" + leimage;
        if (img !== null || img !== undefined) {
            img.setAttribute("src", filename);
        }
    }

    function onSelectAdOption() {
        var chkListPanel = document.getElementById("panel1");
        chkListPanel.setAttribute("class", "col-md-10");
        
    }

    function onDeSelectAdOption() {
        var chkListPanel = document.getElementById("panel1");
        chkListPanel.setAttribute("class", "disappear");

    }

</script>


