@model StudentNav.Models.UploadArticleViewModel
@{
    ViewBag.Title = "Article";
}

<h2>Article</h2>


@using (Html.BeginForm("Article", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { value = "1", @class = "control-label col-md-2" })
            <div class="col-md-10 forml">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ArticleType, htmlAttributes: new { value = "1", @class = "control-label col-md-2" })
            <div class="col-md-10 forml">
                @Html.EnumDropDownListFor(model => model.ArticleType,new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArticleType,"", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { value = "1", @class = "control-label col-md-2" })
            <div class="col-md-10 forml">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MyFiles, htmlAttributes: new { value = "1", @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" multiple="multiple" name="MyFiles" accept="images/*" />
            </div>
        </div>
        


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn paper-raise" />
            </div>
        </div>
    </div>
}

<script>
        var slider = document.getElementById("home-slider");
        slider.setAttribute("class", "carousel slide carousel-fade");
</script>
<script>
    var adsArray =
        [
            { "page": "home", "pages": { "page1": "1", "page2": "2" } },
            { "page": "dut", "pages": { "page1": "3", "page2": "4" } },
            { "page": "wits", "pages": { "page1": "5", "page2": "6" } },
            { "page": "uj", "pages": { "page1": "7", "page2": "8" } },
            { "page": "ukzn", "pages": { "page1": "9", "page2": "10" } },
            { "page": "bursary", "pages": { "page1": "11", "page2": "12" } },
            { "page": "agency", "pages": { "page1": "13", "page2": "14" } },
            { "page": "guidance", "pages": { "page1": "15", "page2": "16" } },
            { "page": "blog", "pages": { "page1": "17", "page2": "18" } },
            { "page": "blogdetail", "pages": { "page1": "19", "page2": "20" } },
            { "page": "articledetails", "pages": { "page1": "21", "page2": "22" } }
        ];

    var filename1 = "/Images/ads" + adsArray[0].pages.page1 + ".jpg";
    var filename2 = "/Images/ads" + adsArray[0].pages.page2 + ".jpg";
    var imga = document.getElementById("ad1");
    var imgb = document.getElementById("ad2");
    if (imga != null && imgb != null) {
        imga.setAttribute("src", filename1);
        imgb.setAttribute("src", filename2);
    }
</script>