@model IEnumerable<StudentNav.Models.BlogPostViewModel>

@{
    ViewBag.Title = "Blog";
}

<div class="row">
    <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
        <h2>Blog Posts</h2>
        <p>Please read and enjoy</p>
        <form action="/BlogPosts/Index" class="search_form" method="get">
            <input type="text" name="search" placeholder="search blogs..." required="">
            <button type="submit">Search</button>
        </form>
    </div>
</div>
<div class="blog-posts">
   @if (Html.Action("GetBlogPermission", "Manage").ToString() == "Allowed")
   {
    <div class="row">
        <a class ="btn paper-raise" role="button" href="/BlogPosts/Create" style="bottom: 21px;position: relative;">Create Blog</a>
</div>
   }
   else
   {
    <div class="row">
        <a class="btn paper-raise" role="button" href="javascript:openModalReg()" style="bottom: 21px;position: relative;">Create Blog</a>
    </div>
   }
    <div class="row">
        @foreach (var item in Model)
        {

        <div class="col-sm-4 wow fadeInUp thenewblocks" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="post-thumb">
                <div id="post-carousel" class="carousel slide" data-ride="carousel">
                   
                    <div class="carousel-inner">
                        
                        @foreach (var imge in item.MediaLinks)
                        {

                            if (imge != item.MediaLinks[0])
                            {
                                
                                <div class="item">
                                    <img class="img-responsive" src="@(imge)" alt="">
                                </div>
                            }
                            else
                            {
                                <div class="item active">
                                    <img class="img-responsive" src="@(imge)" alt="">
                                </div>
                            }

                        }
                    </div>
                    <a class="blog-left-control" href="#post-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="blog-right-control" href="#post-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
                <div class="post-meta">
                    <span><i class="fa fa-comments-o"></i><a href="/BlogPosts/Details/@item.Id">@item.Comments.Count Comments</a> </span>
                    <span class="likes"><a href="/BlogPosts/Edit/@item.Id"><i class="fa fa-heart"></i> @item.Likes.Count Likes</a></span>
                </div>
                <div class="post-icon">
                    <i class="fa fa-picture-o"></i>
                </div>
            </div>
            <div class="entry-header">
                <h3><a href="/BlogPosts/Details/@item.Id">@item.Title</a></h3>
                <span class="date">@item.DatePosted</span>
                <span class="cetagory">by <strong>
                    @item.Author</strong></span>
            </div>
            <div class="entry-content">
                <p>@item.Description </p>
            </div>
        </div>
              }
    </div>
    <div class="pagehere">
        <ul class="pagination clearfix">
            <li><a href="/BlogPosts/Index?page=@(ViewBag.NextPage == 6 ? null : ViewBag.NextPage - 12 )) ">@((ViewBag.NextPage / 6) - 1 )</a></li>
            <li class="active"><a href="#">@(ViewBag.NextPage/6)</a></li>
            <li><a href="/BlogPosts/Index?page=@ViewBag.NextPage ">@((ViewBag.NextPage / 6)  + 1)</a></li>
            <li><a href="">. . .</a></li>
            <li><a href="#">@((ViewBag.TotalNumberOfPages/6)+1)</a></li>
        </ul>
    </div>

    <div class="load-more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
        <a href="/BlogPosts/Index?page=@ViewBag.NextPage " class="btn-loadmore"><i class="fa fa-repeat"></i> Load More</a>
    </div>
</div>
<script>
        var slider = document.getElementById("home-slider");
        slider.setAttribute("class", "disappear");
</script>
<script>
    var adsArray =
        [
            { "page": "home", "pages": { "page1": "1", "page2": "2" } },
            { "page": "dut", "pages": { "page1": "3", "page2": "4" } },
            { "page": "wits", "pages": { "page1": "5", "page2": "6" } },
            { "page": "uj", "pages": { "page1": "7", "page2": "8" } },
            { "page": "ukzn", "pages": { "page1": "9", "page2": "10" } },
            { "page": "bursary", "pages": { "page1": "11", "page2": "12" } },
            { "page": "agency", "pages": { "page1": "13", "page2": "14" } },
            { "page": "guidance", "pages": { "page1": "15", "page2": "16" } },
            { "page": "blog", "pages": { "page1": "17", "page2": "18" } },
            { "page": "blogdetail", "pages": { "page1": "19", "page2": "20" } },
            { "page": "articledetails", "pages": { "page1": "21", "page2": "22" } }
        ];

    var filename1 = "/Images/ads" + adsArray[8].pages.page1 + ".jpg";
    var filename2 = "/Images/ads" + adsArray[8].pages.page2 + ".jpg";
    var imga = document.getElementById("ad1");
    var imgb = document.getElementById("ad2");
    if (imga != null && imgb != null) {
        imga.setAttribute("src", filename1);
        imgb.setAttribute("src", filename2);
    }
</script>