<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mbuso Mkhize">
    <title>StudentNav</title>
    <meta property="og:url" content=@($"http://{HttpContext.Current.Request.Url.Host}/Index") />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="StudentNav" />
    <meta property="og:description" content="StudentNav is a blogsite for varsity students" />
    <meta property="og:image" content=@($"http://{HttpContext.Current.Request.Url.Host}/Images/logo.png") />
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <link href="/Content/navcss/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/navcss/animate.min.css" rel="stylesheet">
    <link href="/Content/navcss/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/navcss/lightbox.css" rel="stylesheet">
    <link href="/Content/navcss/modalstuff.css" rel="stylesheet" />
    <link href="/Content/navcss/main.css" rel="stylesheet">
    <link id="css-preset" href="/Content/navcss/presets/preset1.css" rel="stylesheet">
    <link href="/Content/navcss/responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/Images/fav.ico">
    <script src="~/Scripts/navjs/moment.js" ></script>
</head><!--/head-->
<body>
    <!--.preloader-->
    <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
    <!--/.preloader-->
    <header id="home">
        <div class="main-nav">
            <div class="container head-con">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/Index">
                        <h1><img class="img-responsive" src="~/Images/logo.png" alt="logo"></h1>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="/Home/Index">Home</a></li>
                        <li class="dropdown">
                            <a href="javascript:openModal()" class="modal-link" >Institutions</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="/Institution/UKZN">UKZN </a></li>
                                <li><a href="/Institution/WITS">WITS</a></li>
                                <li><a href="/Institution/UJ">U.J</a></li>
                                <li><a href="/Institution/DUT">DUT</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/Guidance/" >Guidance & Tips</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="/Guidance/Career">Career Guidance</a></li>
                                <li><a href="/Guidance/StudentTips">Student-Life Tips</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#team" class="dropdown-toggle" data-toggle="dropdown"> sponsors & agencies</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="/Sponsors/Bursary">Bursary Basket</a></li>
                                <li><a href="/Sponsors/EmploymentAgencies">Employment Basket </a></li>
                            </ul>
                        </li>
                        <li class=""><a href="/BlogPosts">Blog</a></li>
                        <li class="nothing"><a href="#nothing">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                        <li class="dropdown login">
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--/#main-nav-->
    

        <script>
            var slider = document.getElementById("home-slider");
            if (slider != null) {
                slider.setAttribute("class", "carousel slide carousel-fade");
            }
        </script>
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
       
            <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active" style="background-image: url(/Images/slider/1.jpg)">
                        <div class="caption">
                            <h1 class="animated fadeInLeftBig">Welcome to <span>StudentNav</span></h1>
                            <p class="animated fadeInRightBig">WE PROVIDE EXCITING CONTENT FOR ALL READERS</p>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(/Images/slider/2.jpg)">
                        <div class="caption">
                            <h1 class="animated fadeInLeftBig"><span>StudentNav</span> is your personal guide</h1>
                            <p class="animated fadeInRightBig">WE PROVIDE PROFESSIONAL CAREER INSIGHT </p>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(/Images/slider/3.jpg)">
                        <div class="caption">
                            <h1 class="animated fadeInLeftBig">We are <span>StudentNav</span></h1>
                            <p class="animated fadeInRightBig">we keep you updated on latest Varsity News</p>
                        </div>
                    </div>
                </div>
                <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
                <a id="tohash" href="#blog"><i class="fa fa-angle-down"></i></a>
            </div><!--/#home-slider-->
        
    </header><!--/#home-->
    <section id="blog">
        <div class="container">
            <div class="disappear" id="mymodalreg">
                <div class="mynormalform">
                    <h1>Please <a href="/Account/Login">Login</a> or <a href="/Account/Register">Register</a></h1>
                    <h2>In order to like, comment and/or create a blog</h2>
                    <button class="btn paper-raise" style="height: 50px;" onclick="closeModalReg()">Close</button>
                </div>
            </div>
            <div class="disappear" id="mymodal">
                <div class="UniThumbs">
                    <img src="~/Images/InstitutionPics/ukzn.jpg" />
                    <div class="unis">University of <br />KwaZulu-Natal</div>
                    <a href="/Institution/UKZN" class="btn paper-raise">Read More</a>
                </div>
                <div class="UniThumbs">
                    <img src="~/Images/InstitutionPics/wits.jpg" />
                    <div class="unis">University of <br />Witswatersrand</div>
                    <a href="/Institution/WITS" class="btn paper-raise">Read More</a>
                </div>
                <div class="UniThumbs">
                    <img src="~/Images/InstitutionPics/uj.jpg" />
                    <div class="unis">University of <br />Johannesburg</div>
                    <a href="/Institution/UJ" class="btn paper-raise">Read More</a>
                </div>
                <div class="UniThumbs">
                    <img src="~/Images/InstitutionPics/dut.jpg" />
                    <div class="unis">Durban University of Technology</div>
                    <a href="/Institution/DUT" class="btn paper-raise" >Read More</a>
                </div>
                <button class="btn paper-raise" style="height: 50px;" onclick="closeModal()">Close</button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="leftAds"><img id="ad1" src="/Images/ads1.jpg" height="50" width="50" /></div>
                        </div>
                        <div class="col-md-8">
                            @RenderBody()
                        </div>
                        <div class="col-md-2">
                            <div class="sidebar">
                                <div class="forAds">
                                    <img id="ad2" src="/Images/ads2.jpg" height="50" width="50" />
                                </div>
                                <div class="contactpage">
                                    <img src="~/Images/logo.png" style="height:50px !important;" />
                                    <a href="/Home/TermsAndConditions" class="contacttext btn paper-raise" style="width:100%">T & C's</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="mycontct">
                            <h3 style="color:#fff"><u>Contact us</u></h3>
                            <p style="color:#fff">Durban : 065 871 4263</p>
                            <p style="color:#fff">Johannesburg : 065 872 0913</p>
                            <h3 style="color:#fff"><u>Email</u></h3>
                            <p style="color:#fff">info@studentnav.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">
                            <div class="footer-logo">
                                <a href="index.html"><img class="img-responsive" src="~/Images/logo.png" alt=""></a>
                            </div>
                            <div class="social-icons">
                                <ul>
                                    <li><a class="envelope" href="mailto:info@studentnav.com"><i class="fa fa-envelope"></i></a></li>
                                    <li><a class="twitter" href="https://twitter.com/StudentNav_SA"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="facebook fb-share-button" href="https://www.facebook.com/StudentNav-SA-187878841712051/"><i class="fa fa-facebook"></i></a></li>

                                    <li><a class="tumblr" href="https://www.instagram.com/studentnav_sa/?hl=en"><i><img src="~/Images/instagram.png" width="30" /></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>&copy; 2016 StudentNav  .</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="pull-right">Created by <a href="http://mbusomkhize.prez.netne.com">Mbuso Mkhize</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/navjs/moment.js"></script>
    <script>
        function openModal() {
            var meddle = document.getElementById("mymodal");
            meddle.setAttribute("class", "openmodal");
        }
        function closeModal() {
            var meddle = document.getElementById("mymodal");
            meddle.setAttribute("class", "disappear");
        }
        function openModalReg() {
            var meddle = document.getElementById("mymodalreg");
            meddle.setAttribute("class", "openmodalreg");
        }
        function closeModalReg() {
            var meddle = document.getElementById("mymodalreg");
            meddle.setAttribute("class", "disappear");
        }
    </script>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/navjs")

    @RenderSection("scripts", required: false)
</body>
</html>